/* Color */
:root{
    --lightBg: #f6f8f9;
    --backgroundColor: #eef1f4;

    --primaryColor: #d52130;
    --primaryHoverColor: #ae1827;

    --baseColor: #191b1d;
    --baseColorHover: #767676;

    // --secondColor: #c1a66f #0078f9;
    --secondColor: #151617;

    --blueColor: #0380fd;
    --secondHoverColor: #0971e2;

    --greenColor: #14b292;
    --greenColorHover: #0f8f75;

    --grayColor: #e1e6eb;
    --grayColorHover: #d0d7dd;

    --lightGrayColor: #eceff3;

    --grayLinkColor: rgba(0,0,0,.35);
    --grayBlueColor: #9a9fa8;
}

$tertiaryColor: #7f8da5;
$tertiaryHoverColor: #5c677a;


$fbColor: #507ac7;
$fbColorHover: #3c60a1;


$headerLinkColor: #b1b7bf;
$wh: #fff;
$black: #000;
$darkColor: #000f23;
$backgroundLightColor: #f1f3f4;

$descriptionColor: #495460;

$errorColor: #d0021b;
$informationColor: #1269cc;
$validationColor: #3b7902;
$warningColor: #af4d23;

$brandColor: #15b957;

$inputBorderColor: #15b957;
$stepColor: var(--primaryColor);
$borderColor:var(--primaryColor);
/* Color End */
