/* FontFace */
@font-face{
	font-family: 'manrope';
	font-weight: 200;
	src:url('../fonts/Manrope-ExtraLight.ttf') format("truetype"),
	url('../fonts/Manrope-ExtraLight.ttf') format("truetype")
}
@font-face{
	font-family: 'manrope';
	font-weight: 300;
	src:url('../fonts/Manrope-Light.ttf') format("truetype"),
	url('../fonts/Manrope-Light.ttf') format("truetype")
}
@font-face{
	font-family: 'manrope';
	font-weight: 400;
	src:url('../fonts/Manrope-Regular.ttf') format("truetype"),
	url('../fonts/Manrope-Regular.ttf') format("truetype")
}
@font-face{
	font-family: 'manrope';
	font-weight: 500;
	src:url('../fonts/Manrope-Medium.ttf') format("truetype"),
	url('../fonts/Manrope-Medium.ttf') format("truetype")
}
@font-face{
	font-family: 'manrope';
	font-weight: 600;
	src:url('../fonts/Manrope-SemiBold.ttf') format("truetype"),
	url('../fonts/Manrope-SemiBold.ttf') format("truetype")
}
@font-face{
	font-family: 'manrope';
	font-weight: 700;
	src:url('../fonts/Manrope-Bold.ttf') format("truetype"),
	url('../fonts/Manrope-Bold.ttf') format("truetype")
}
@font-face{
	font-family: 'manrope';
	font-weight: 800;
	src:url('../fonts/Manrope-ExtraBold.ttf') format("truetype"),
	url('../fonts/Manrope-ExtraBold.ttf') format("truetype")
}
/* FontFace End */
