@import "fonts.scss";
@import "size.scss";
@import "color.scss";

$primaryFont: 'manrope';

html{
	margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    font-size: $s1_4;
    font-family: $primaryFont;
    color: var(--baseColor);
    line-height: 1.4;
    font-weight: 500;
    font-style: normal;
    position: relative;
    background-color: $wh;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
    color: var(--baseColor);
    font-size: $s1_4;
	text-decoration: none;
}
a:hover{
    color: var(--baseColor);
	text-decoration: none;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{

}

/* Other Style */
.clear-fix{
    display: block;
    clear: both;
}
.clear-fix::after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}
*, *:focus, *:active {
    -ms-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    box-sizing: border-box;
}
$fl: flex;
$g: grid;
$c: center;
$fs: flex-start;
$fe: flex-end;
$sp: space-between;

$pr: relative;
$pa: absolute;

.dg{
    display: $g;
}
.__dgc{
    align-items: $c;
}
.aic{
    align-items: $c;
}
.__g1a1{
    grid-template-columns: 1fr 250px 1fr;
}
.__g1{
    grid-template-columns: 1fr;
}
.__g1_2_1{
    grid-template-columns: calc(25% - 8px) calc(50% - 16px) calc(25% - 8px);
}
.__g1_3{
    grid-template-columns: 1fr 3fr;
}
.__g1_4{
    grid-template-columns: 1fr 4fr;
}
.g2{
    grid-template-columns: 1fr 1fr;
}
.__g2_1{
    grid-template-columns: 2fr 1fr;
}
.__g1_2{
    grid-template-columns: 1fr 2fr;
}
.__g20_1{
    grid-template-columns: 20% 1fr;
}
.__g2_5_2{
    grid-template-columns: 1fr 2fr 1fr;
}
.g3{
    grid-template-columns: repeat(3, 1fr);
}
.__g3_2{
    grid-template-columns: 3fr 2fr;
}
.__gc3_1{
    grid-template-columns: 34px 1fr;
}
.__g4_1{
    grid-template-columns: 4fr 1fr;
}
.__gp_d_g{
    grid-template-columns: 1fr 56px;
}
.g4{
    grid-template-columns: repeat(4, 1fr);
}
.__g1_c290{
    grid-template-columns: 1fr 290px;
}
.__g1_c400{
    grid-template-columns: 1fr 400px;
}
.g5{
    grid-template-columns: repeat(5, 1fr);
}
.__g6{
    grid-template-columns: repeat(6, 1fr);
}
.__g60_1{
    grid-template-columns: 60px 1fr;
}
.__g7{
    grid-template-columns: repeat(7, 1fr);
}
.__g8{
    grid-template-columns: repeat(8, 1fr);
}
.__gap_8{
    gap: $s_8;
}
.gap1{
    gap: $s1;
}
.__gap1_5{
    gap: $s1_5;
}
.gap1_6{
    gap: $s1_6;
}
.gap2{
    gap: $s2;
}
.gap2_4{
    gap: $s2_4;
}
.__gap2_5{
    gap: $s2_5;
}
.__gap3{
    gap: $s3;
}
.__gap3_2{
    gap: $s3_2;
}
.__gap4{
    gap: $s4;
}
.__gapr4{
    row-gap: $s4;
}
.__gc290_1_{
    grid-template-columns: 290px 1fr;
}
.df{
    display: $fl;
}
.dfc{
    display: $fl;
    align-items: $c;
}
.dfs{
    display: $fl;
    align-items: $fs;
}
.dcsp{
    display: $fl;
    align-items: $c;
    justify-content: $sp;
}
.dsb{
    display: $fl;
    justify-content: $sp;
}
.dssb{
    display: $fl;
    align-items: flex-start;
    justify-content: $sp;
}
.dfcc{
    display: $fl;
    align-items: $c;
    justify-content: $c;
}
.__dfsc{
    display: $fl;
    align-items: flex-start;
    justify-content: $c;
}
.__dfcs{
    display: $fl;
    align-items: $c;
    justify-content: flex-start;
}
.__dfss{
    display: $fl;
    align-items: flex-start;
    justify-content: flex-start;
}
.__dfce{
    display: $fl;
    align-items: $c;
    justify-content: flex-end;
}
.flex_g{
    flex-grow: 1;
}
.__fd_c{
    flex-direction: column;
}
.__fd_r{
    flex-direction: row;
}
.pr{
    position: relative !important;
}
.pa{
    position: absolute !important;
}
.pf{
    position: fixed;
}
.__pa_cc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.__t1{
    top: $s1;
}
.__t1_6{
    top: $s1_6;
}
.__t2_4{
    top: $s2_4;
}
.__t2{
    top: $s2;
}
.__t3{
    top: $s3;
}
.__b1{
    bottom: $s1;
}
.__b1_6{
    bottom: $s1_6;
}
.__b2{
    bottom: $s2;
}
.__b3{
    bottom: $s3;
}
.__b3_2{
    bottom: $s3_2;
}
.__l1{
    left: $s1;
}
.__l1_6{
    left: $s1_6;
}
.__l2{
    left: $s2;
}
.__l3{
    left: $s3;
}
.__r1{
    right: $s1;
}
.__r1_6{
    right: $s1_6;
}
.__r2_4{
    right: $s2_4;
}
.__r2{
    right: $s2;
}
.__r3{
    right: $s3;
}
.__r10{
    right: $s10;
}
$radius: var(--srem);
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
.__br{
    
}
.__w10{
    width: 100%;
}
.__cup{
    cursor: pointer;
}
.__tac{
    text-align: $c;
}
.__ac{
    align-items: $c;
}
.__jc{
    justify-content: $c;
}

/* Padding Style */
$p1: $s1;
$p1_2: 1.2rem;
$p1_5: 1.5rem;
$p1_6: 1.6rem;
$p2: $s2;
.__p1{
    padding: $s1;
}
.__p1_5{
    padding: $s1_5;
}
.__p2{
    padding: $s2;
}
.__p2_5{
    padding: $s2_5;
}
.__p3{
    padding: $s3;
}
.__pt1{
    padding-top: $s1;
}
.__pb1{
    padding-bottom: $s1;
}
.__pb1_5{
    padding-bottom: $s1_5;
}
.__pl1{
    padding-left: $s1;
}
.__pr1{
    padding-right: $s1;
}
.__pl1_2{
    padding-left: $s1_2;
}
.__pt2{
    padding-top: $s2;
}
.__pb2{
    padding-bottom: $s2;
}
.__pl2{
    padding-left: $s2;
}
.__pr2{
    padding-right: $s2;
}
.__pt25{
    padding-top: $s2_5;
}
.__pb25{
    padding-bottom: $s2_5;
}
.__pl25{
    padding-left: $s2_5;
}
.__pr25{
    padding-right: $s2_5;
}
.__pt3{
    padding-top: $s3;
}
.__pb3{
    padding-bottom: $s3;
}
.__pl3{
    padding-left: $s3;
}
.__pl3_5{
    padding-left: $s3_5;
}
.__pr3{
    padding-right: $s3;
}
.__pt4{
    padding-top: $s4;
}
.__pt6{
    padding-top: $s6;
}
.__pb6{
    padding-bottom: $s6;
}
.__pb6_8{
    padding-bottom: $s6_8 !important;
}
.__pb8{
    padding-bottom: $s8;
}
/* Padding Style End */

/* Margin Style */
.__mt1{
    margin-top: $s1 !important;
}
.__mt1_2{
    margin-top: $s1_2;
}
.__mb1{
    margin-bottom: $s1 !important;
}
.__ml_8{
    margin-left: $s_8;
}
.__ml1{
    margin-left: $s1;
}
.__ml1_5{
    margin-left: $s1_5;
}
.__ml1_6{
    margin-left: $s1_6;
}
.__mr1{
    margin-right: $s1;
}
.__mt1_6{
    margin-top: $s1_6;
}
.__mt2{
    margin-top: $s2;
}
.__mb2{
    margin-bottom: $s2;
}
.ml2{
    margin-left: $s2;
}
.__mr2{
    margin-right: $s2;
}
.__mt25{
    margin-top: $s2_5;
}
.__mb25{
    margin-bottom: $s2_5;
}
.__mb2_4{
    margin-bottom: $s2_4 !important;
}
.__ml25{
    margin-left: $s2_5;
}
.__mr25{
    margin-right: $s2_5;
}
.__mt3{
    margin-top: $s3 !important;
}
.__mt3_2{
    margin-top: $s3_2 !important;
}
.__mb3{
    margin-bottom: $s3;
}
.__ml3{
    margin-left: $s3;
}
.__mr3{
    margin-right: $s3;
}
.__mt4{
    margin-top: $s4;
}
.__mt4_4{
    margin-top: $s4_4;
}
.__mb4{
    margin-bottom: $s4;
}
.__ml4{
    margin-left: $s4;
}
.__mr4{
    margin-right: $s4;
}
.__mt5{
    margin-top: $s5;
}
.__mb5{
    margin-bottom: $s5;
}
.__ml5{
    margin-left: $s5;
}
.__mr5{
    margin-right: $s5;
}
.__mb6{
    margin-bottom: $s6;
}
.__mt6{
    margin-top: $s6;
}
.__mt8{
    margin-top: $s8;
}
.__mb8{
    margin-bottom: $s8;
}
.__mb9{
    margin-bottom: $s9;
}
.__mr12{
    margin-right: 120px;
}
.__mc{
    margin-left: auto;
    margin-right: auto;
}
.__mt0{
    margin-top: 0 !important;
}
.__mta{
    margin-top: auto;
}
.__m0{
    margin: 0 !important;
}
/* Margin Style End */

/* Border Radius Style */
.__br1_6{
    border-radius: $s1_6;
}
/* Border Radius Style End */

/* Main Style */
.container{
    margin: 0 auto;
    max-width: 1140px;
    transition: all .1s ease-in;
    box-sizing: border-box;
}
.full_container{
    margin: 0 auto;
    max-width: 1280px;
    transition: all .1s ease-in;
    box-sizing: border-box;
}
::selection {
    color: $wh;
    background-color: var(--secondColor);
  }
/* Main Style End */
