@import "fonts.scss";
@import "size.scss";
@import "color.scss";
@import "main.scss";

$fl: flex;
$g: grid;
$c: center;
$l: left;
$fs: flex-start;
$fe: flex-end;
$sp: space-between;

$primaryFont: 'manrope';
.df{
    display: $fl;
}
.__bgcover{
    background-size: cover;
}
.__bgpo_cc{
    background-position: $c $c;
}
.__bgpo_lc{
    background-position: $l $c;
}
.__bgpo_cl{
    background-position: $c $c;
}
.__bgnore{
    background-repeat: no-repeat;
}

.input,
.select,
.__textarea{
    position: relative;
    color: var(--baseColor);
    display: $fl;
    align-items: $c;
    font-size: $s1_4;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: $s2;
    height: $s4_4;
    width: 100%;
    padding: $s_8 $s1_2;
    background-color: $wh;
    transition: border-color .1s cubic-bezier(.7,0,.3,1);
    border-width: $s_1;
    border-style: solid;
    border-color: var(--grayColorHover);
    border-radius: $s_8;
    z-index: 0;
    &.__filled{
        padding: 0 $s3_1 0 $s_7;
        border-width: $s_2;
    }
    &::placeholder{
        color: $tertiaryColor;
    }
}
.select{
    padding-right: $s3_2;
}
.__textarea{
    height: auto;
    min-height: 6rem;
    max-height: 12rem;
    resize: vertical;
}
.input::placeholder{
    color: #acb4c1;
}
.input:hover,
.select:hover,
.__textarea:hover,
.input_rest:hover{
    border-color: $tertiaryColor;
}
.input:focus,
.select:focus,
.__textarea:focus,
.input_rest:focus{
    border-color: var(--baseColor);
}
.__form_item{
    display: grid;
    margin-bottom: $s1_6;
}
.__form_item_line{
    display: grid;
    margin: $s2_4 0;
    height: $s_1;
    width: 100%;
    background-color: rgba(0,16,34,0.1);
}
.__label{
    display: $fl;
    color: $descriptionColor;
    font-size: $s1_4;
    font-weight: 600;
    line-height: $s2;
    min-height: $s2;
    margin-bottom: $s_8;
    strong{
        color: var(--secondColor);
        font-weight: bold;
        margin: 0 0 0 $s_4;
    }
}
.label, .label-text{
    color: var(--baseColor)Hover;
    font-size: $s1_4;
    font-weight: 500;
    position: relative;
    display: $fl;
    align-items: $c;
    text-align: left;
    padding: 0 !important;
    width: 100%;
    overflow: hidden;
}
.__text_desc{
    margin-top: $s_8;
    p{
        color: $stepColor;
        font-size: $s1_2;
        font-weight: 600;
        line-height: $s1_6;
        color: $descriptionColor;
        & ~ p{
            margin-top: $s_8;
        }  
    }
    .__error{
        color: $errorColor;
        font-weight: 700;
    }
}
.label-text{
    
}
.radio-label .radiobox {
    opacity: 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type=radio]:checked + .label{
    background-color: rgba(155, 129, 111, .3);
    border-color: rgba(154, 130, 112, 1);
}
// .checkmark {
//     width: $s2;
//     height: $s2;
//     position: absolute;
//     top: 0;
//     left: 0;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     background-color: $wh;
//     border-width: 1px;
//     border-style: solid;
//     border-color: $borderColor;
//     border-radius: $s_4;
// }
.radio-label .checkmark{
    height: $s1_6;
    width: $s1_6;
}
.checkbox[type="checkbox"]:checked + .checkmark::after{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    height: $s1_4;
    width: $s1_4;
    background: url('../../images/__checked_img.svg') center center no-repeat;
    transform: translate(-50%, -50%);
}
.checkbox[type="checkbox"]:checked + .checkmark::before{
    display: none;
}
.checkbox[type="checkbox"]:checked + .checkmark,
.label:hover .checkbox[type="checkbox"]:checked + .checkmark{
    background-color: var(--baseColor);
    border: none;
}
.radiobox[type="radio"]:checked + .checkmark{
    border-color: var(--baseColor);
}
.radiobox[type="radio"]:checked + .checkmark::before{
    display: flex;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    height: $s1_2;
    width: $s1_2;
    background-color: var(--baseColor);
    border-color: rgba(154,130,112,1);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.radio-label,
.checkbox-label{
    display: inline-block;
    vertical-align: middle;
    min-height: $s2;
    padding-left: $s3_2;
    color: var(--baseColor);
    font-size: $s1_4;
    font-weight: 600;
    line-height: $s2;
    margin-right: $s_5;
    cursor: pointer;
    user-select: none;
}
.radio-label{
    min-height: 20px;
    line-height: 20px;
    strong{
        color: var(--baseColor);
        font-size: $s1_2;
    }
    .label-text{
        align-items: flex-start;
        flex-direction: column;
        color: var(--baseColor);
        font-size: $s1_2;
        text-align: left;
        line-height: $s1_5;
        margin-top: $s_4;
        p{
            padding: $s_3 0;
        }
        .__learn_more{
            text-decoration: underline;
        }
    }
}
.checkbox-label .checkbox{
    opacity: 0;
    position: absolute;
}
.checkmark{
    width: $s1_6;
    height: $s1_6;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $wh;
    box-sizing: border-box;
    border-width: $s_1;
    border-style: solid;
    border-color: $tertiaryColor;
    transform: translate(0, -50%);
}
.radio-label{
    .checkmark{
        height: $s2;
        width: $s2;
        border-color: #7a7a7a;
        border-radius: 50%;
    }
}
.checkbox-label:not(.disabled).\:hover .checkbox~.checkmark,
.checkbox-label:not(.disabled):hover .checkbox~.checkmark{
    // background-color: var(--baseColor);
}
.active{
    .label-text{
        color: $brandColor;
    }
    ._c_count{
        color: var(--baseColor);
    }
}

/* Button Style */
.btn{
    position: relative;
    color: var(--baseColor);
    font-size: $s1_4;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: $s2_2;
    display: $fl;
    align-items: $c;
    justify-content: $c;
    padding: $s_8 $s1_6;
    background-color: transparent;
    transition: background-color .2s cubic-bezier(.7,0,.3,1);
    border-width: 0;
    border-style: solid;
    border-color: rgba(0,0,0,.05);
    border-radius: $s_8;
    white-space: nowrap;
    cursor: pointer;
    z-index: 2;
}
.btn_l{
    height: $s4_4;
    border-radius: $s_8;
}
.btn_m{
    height: $s3_8;
    border-radius: $s_8;
}
.btn_s{
    height: $s3_2;
    min-width: $s3_2;
    border-radius: $s_6;
}
.btn_htrans{
    transition: background-color .2s cubic-bezier(.7,0,.3,1);
}
.default{
    background-color: var(--backgroundColor) !important;
    border-color: $tertiaryColor;
    &:hover{
        background-color: var(--grayColor) !important;
    }
    .__deactivated{
        opacity: .6;
    }
}
.primary{
    color: $wh;
    background-color: var(--primaryColor);
    &:hover{
        background-color: var(--primaryHoverColor);
    }
}
.__gray{
    background-color: var(--grayColor);
    &:hover{
        background-color: var(--grayColorHover);
    }
}
.__black{
    color: $wh;
    background-color: var(--baseColor);
}
.__ads_add{
    color: $wh;
    background-color: var(--primaryColor);
    &:hover{
        background-color: var(--primaryHoverColor);
    }
}
.__white_btn{
    background-color: $wh;
    border-width: $s_1;
    border-color: var(--lightGrayColor);
    &:hover{
        border-color: var(--grayColorHover);
    }
}
.__second_btn{
    color: $wh;
}
.__sf_btn{
    padding-left: $s_8;
    .icon{
        height: $s2;
        width: $s2;
        margin-right: $s_8;
    }
}
/* Button Style End */

/* Other */
.checkbox-label:not(.disabled).\:focus .checkbox~.checkmark,
.checkbox-label:not(.disabled):focus .checkbox~.checkmark{
    opacity: 1;
    z-index: 10;
    outline: $s_2 dotted var(--baseColor);
    outline-offset: $s_2;
}
.oh{
    overflow: hidden;
}
.__bgw{
    background-color: $wh !important;
}
.__bc_bg{
    background-color: var(--primaryColor);
}
.__p_t{
    justify-content: $c !important;
    position: relative;
    color: $darkColor;
    font-size: $s2_6;
    font-family: $primaryFont;
    font-weight: 300;
    line-height: $s3_2;
    text-align: $c;
    padding-bottom: $s1;
    margin: $s5_6 0 $s4;
    &::after{
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0;
        height: $s_2;
        width: $s5;
        background-color: $darkColor;
        transform: translateX(-50%);
    }
}
.__txtu{
    text-transform: uppercase;
}
.__link{
    display: $fl;
    align-items: $c;
    cursor: pointer;
}
.__now{
    white-space: nowrap;
}
.icon{
    display: $fl;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position: $c $c;
}
/* Other End */

/* Reclam Style */
.reclam{
    position: $pr;
    width: 100%;
    border-radius: $s1_6;
    overflow: hidden;
    .reclam_img{
        display: $fl;
        align-items: $c;
        justify-content: $c;
        position: $pr;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    span{
        color: var(--baseColor);
        font-size: $s1_3;
        position: $pa;
        top: $s_8;
        right: $s_8;
        padding: $s_4 $s_8;
        background-color: rgba(255,255,255,.8);
        border-radius: $s_8;
        cursor: pointer;
        z-index: 3;
    }
}
.home{
    height: 240px;
    background-color: var(--backgroundColor);
}
/* Reclam Style End */

/* Header Style */
.__header_wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $s1_6;
    background-color: $wh;
    border-bottom: $s_1 solid var(--backgroundColor);
    z-index: 99;
}
.__navbar{
    height: $s6_4;
}
.__header_logo{
    font-size: $s2_6;
    font-weight: 700;
    cursor: pointer;
    span{
        height: $s4_6;
        width: 97px;
        margin-right: $s_1;
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .__slogan{
        font-weight: 800;
        text-transform: uppercase;
        sup{
            position: $pr;
            font-size: $s1;
            top: $s_2;
        }
    }
}
.__region_select{
    line-height: $s3;
    padding: 0 $s1_2 0 $s_8;
    border-radius: $s_8;
    &:hover{
        background-color: var(--backgroundColor);
    }
    i{
        font-size: $s1_3;
        font-style: normal;
        margin-left: $s_5;
    }
}
.__region_icon{
    height: $s1_4;
    width: $s1_4;
    background-image: url('../images/icon_region.svg');
}
.__favourite_link{
    height: $s3_8;
    width: $s3_8;
    border-radius: $s_8;
    cursor: pointer;
    &:hover{
        background-color: var(--backgroundColor);
        .__fav_icon{
            -webkit-mask: url('../images/icon_favourite.svg');
            background: #929aa5;
        }
    }
}
.__fav_icon{
    height: $s2_4;
    width: $s2_4;
    background-image: url('../images/icon_favourite.svg');
}
.__share_icon{
    height: $s2_4;
    width: $s2_4;
    background-image: url('../images/icon_share.svg');
}
.__project_icon{
    line-height: $s4_4;
    height: 16px;
    width: 72px;
    background-image: url('../images/icon_project.svg');
}
.__header_stuff_users{
    flex-grow: 1;
}

.__main_menu{
    // border-bottom: $s_1 solid var(--backgroundColor);
    .__menu_list{
        display: $fl;
        align-items: $c;
        li{
            &:first-child{
                a{
                    padding-left: 0;
                }
            }
           & > a{
                position: $pr;
                display: $fl;
                font-weight: 600;
                line-height: $s6_4;
                padding: 0 $s1_2;
                span{
                    position: $pr;
                    display: $fl;
                    white-space: nowrap;
                    transition: all .15s ease-in;
                    &::after{
                        position: $pa;
                        content: '';
                        left: 50%;
                        right: 0;
                        bottom: 0;
                        height: $s_2;
                        width: 0;
                        opacity: 0;
                        background-color: var(--primaryColor);
                        transform: translateX(-50%);
                        transition: all .15s ease-in;
                        visibility: hidden;
                        z-index: 1;
                    }
                }
            }
            &:hover{
                a{

                    span{
                        &::after{
                            width: calc(100% - 16px);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .__sub_menu_wrap{
                    left: 0;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .__arena_url{
        a{
            padding-right: 0 !important;
        }
    }
}
.__sub_menu_wrap{
    position: absolute;
    left: -10000px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    padding: $s2_4 0;
    background-color: $wh;
    box-shadow: 0 $s1 $s1_6 rgba(0,0,0,.1);
    transition: opacity .3s ease, top .35s ease;
    border-top: $s_1 solid var(--backgroundColor);
    z-index: 9;
}
/* Header Style End */

/* Main Style */
.main_wrap{
    padding-top: $s6_4;
    .main_block{

    }
}
.__realty_filter{
    height: 450px;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(0,0,0,.4), transparent);
        z-index: 0;
    }
    .__rf_block{
        height: 100%;
        z-index: 1;
    }
    .__rf_content{
        width: 90%;
    }
}
.__rf_title{
    color: $wh;
    font-size: $s2_4;
    margin-bottom: $s3;
    h1{
        text-shadow: 0 $s_1 $s_2 rgba(0,0,0,.2);
    }
}
.__rf_head{
    position: $pr;
    z-index: 1;
}
.real_form{
    display: $g;
    align-items: flex-end;
    padding: $s2;
    border-width: $s_1;
    border-style: solid;
    border-color: var(--lightGrayColor);
    box-shadow: 0 $s_1 $s_5 rgba(0,0,0,.05);
    border-radius: $s1_6;
    .__label{
        font-size: $s1_6;
    }
    &:hover{
        border-color: var(--grayColor);
    }
    .rf_item{
        position: $pr;
        width: 100%;
        &::before, &::after{
            position: $pa;
            content: '';
            right: -$s2;
            bottom: 0;
            height: $s2;
            width: $s2;
            box-shadow: -$s1 $s1 0 0 $wh;
            border-radius: 50%;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
        }
        &::before{
            left: -$s2;
            right: auto;
            box-shadow: $s1 $s1 0 0 $wh;
        }
        &:first-child{
            &::before{
                display: none;
            }
        }
    }
    .active, .active:hover{
        span{
            color: var(--baseColor);
            background-color: $wh;
        }
        &::before, &::after{
            opacity: 1;
            visibility: visible;
        }
    }
}
.__s_result{
    color: $tertiaryColor;
    font-size: $s1_3;
    background-color: var(--backgroundColor);
    white-space: nowrap;
    &:hover{
        border-color: var(--grayColorHover);
    }
    span{
        color: $wh;
        font-size: $s1_5;
        line-height: 1;
        padding: $s_4 $s_6;
        margin-left: $s_4;
        background-color: var(--primaryColor);
        border-radius: $s2;
    }
}
.search_btn{
    padding-left: $s1;
}
.search{
    height: $s2;
    width: $s2;
    margin-right: $s_8;
    background-image: url('../images/icon_search.svg');
}
.__save_search{
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    &:hover{
        background-color: var(--backgroundColor);
    }
}
.real_form_content{
    position: relative;
    background-color: $wh;
    z-index: 3;
    .rf_item{
        .input, .select{
            &:hover{
                z-index: 2;
            }
            &:focus{
                z-index: 3;
            }
        }
        &:last-child{
            .rf_list, .input, .select{
                border-top-right-radius: $s_8 !important;
                border-bottom-right-radius: $s_8 !important;
            }
        }
    }
}
.real_form_items{
    flex-grow: 1;
    .rf_item{
        &.__rf_region{
            width: $s14;
        }
    }
}
.rf_list{
    position: $pr;
    display: $fl;
    align-items: $c;
    justify-content: $c;
    height: $s4_4;
    margin-left: $s_5;
    // border-width: $s_1;
    // border-style: solid;
    // border-color: var(--grayColorHover);
    &:hover{
        border-color: $tertiaryColor;
        z-index: 2;
    }
    &:focus, &:active, &:focus-within, &:focus-visible{
        border-color: var(--baseColor) !important;
        z-index: 3;
    }
    & > div{
        display: $fl;
        align-items: $c;
        justify-content: $c;
        flex-direction: column;
        color: $tertiaryColor;
        font-size: $s1_6;
        line-height: 1;
        height: $s4_4;
        width: $s4_4;
        background-color: var(--lightBg);
        transition: all .15s ease-in;
        border-width: $s_1;
        border-style: solid;
        border-color: var(--backgroundColor);
        border-radius: $s_8;
        cursor: pointer;
        h4{
            font-weight: 600;
        }
        span{
            font-size: $s1;
            font-weight: 400;
            line-height: $s_8;
            margin-top: $s_2;
        }
        &.active, &.active:hover{
            color: $wh;
            background-color: var(--baseColor);
            border-color: transparent;
            span{
                color: $wh;
                background-color: transparent;
            }
        }
        & ~ div{
            margin-left: $s_5;
        }
        &:hover{
            color: $tertiaryHoverColor;
            background-color: var(--lightGrayColor);
            border-color: var(--grayColor);
        }
    }
}
.__rf_inputs{
    .input{
        padding-left: $s1_2;
        padding-right: $s1_2;
        height: $s4_2;
        max-width: $s12;
        border: none;
        &:first-child{
            padding-right: $s_8;
        }
        &:last-child{
            padding-left: $s_8;
        }
    }
}
.real_view{
    margin-top: $s2_4;
    margin-bottom: $s3;
    .real_tab{
        min-height: $s6;
        padding: $s2 $s2 $s1_6;
        background-color: $wh;
        border-width: $s_1;
        border-style: solid;
        border-color: var(--lightGrayColor);
        box-shadow: 0 $s_1 $s_5 rgba(0,0,0,.05);
        transition: all .15s ease-in;
        border-radius: $s1_6;
        cursor: pointer;
        &:hover{
            .ha_big{
                color: var(--primaryColor);
            }
            background-color: $wh;
            border-color: var(--grayColor);
            .rv_next{
                transform: translateX(5px);
            }
        }
        .tab_icon{
            height: $s5;
            width: $s8;
            margin-bottom: $s1;
            background-repeat: no-repeat;
            background-position: left $c;
            background-size: contain;
        }
        .sell{
            background-image: url('../images/icon_sell.svg');
        }
        .rent{
            background-image: url('../images/icon_rent.svg');
            svg{
                g{
                    &:nth-child(2){
                        g{
                            &:first-child{
                                animation: keyanim 1.5s infinite linear;
                            }
                            &:nth-child(2){
                            }
                        }
                    }
                }
            }
        }
        @keyframes keyanim {
            50%{
                transform: matrix(.75,.6, -.8, .6, 25,-3)
            }
        }
        h2{
            // color: $tertiaryColor;
            font-size: $s1_6;
            font-weight: 500;
        }
    }
    .rf_item{
        &:first-child{
            flex: 1;
            .input, .select{
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }
        }
        & ~ .rf_item{
            margin-left: -$s_1;
            .input, .select{
                border-radius: 0;
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
    }
}
.__mh_80{
    min-height: 80px;
}
.box_item{
    background-color: $wh;
    // box-shadow: 0 $s_1 $s_3 rgba(0,0,0,.05);
    // border-width: $s_1;
    // border-style: solid;
    // border-color: rgba(0,0,0,.08);
    transition: .1s ease-in;
    border-radius: $s1_6;
    &:hover{
        .ha_big{
            color: var(--primaryColor);
        }
        .rv_next{
            opacity: 1;
        }
    }
}
.__box_pad{
    padding: $s2;
}
.__ha_txt{
    color: $tertiaryColor;
    font-size: $s1_3;
}
.ha_big{
    color: var(--secondColor);
    font-size: $s1_6;
    font-weight: 600;
}
.rv_next{
    transition: all .15s ease-in;
}
.next_arrow{
    height: $s2;
    width: $s2;
    background-image: url('../images/icon_next_arrow.svg');
}
.section{
    padding: $s2 0;
}
.section_title{
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 $s2;
}

.__cat_link{
    li{
        a{
            position: $pr;
            padding: $s_6 $s_8;
            border-radius: $s_8;
            &:hover{
                color: var(--primaryColor);
                background-color: var(--backgroundColor);
                span{
                    color: var(--baseColor);
                    background-color: var(--backgroundColor);
                }
                p{
                    background-color: var(--backgroundColor);
                }
                &::after{
                    border-color: var(--grayColor);
                }
            }
            &::after{
                position: $pa;
                content: '';
                top: 50%;
                left: $s1_2;
                right: $s1_2;
                border-top-width: $s_1;
                border-top-style: dashed;
                border-top-color: var(--backgroundColor);
                transform: translateY(-50%);
                z-index: 0;
            }
            p, span{
                display: $fl;
                position: $pr;
                background-color: $wh;
                z-index: 3;
            }
            p{
                color: var(--secondColor);
                padding-right: $s1;
            }
            span{
                color: $tertiaryColor;
                font-weight: 500;
                padding-left: $s1;
            }
        }
    }
}
.__box_project{
    background-color: var(--secondColor);
    &:hover .ha_big, 
    .ha_big{
        color: $wh;
    }
}
.prod_list_arrow{
    .arrow_btn{
        position: $pr;
        height: $s4;
        width: $s4;
        background-color: $wh;
        border-width: $s_1;
        border-style: solid;
        border-color: $tertiaryColor;
        transition: all .15s ease-in;
        border-radius: $s_8;
        cursor: pointer;
        z-index: 0;
        & ~ .arrow_btn{
            margin-left: $s_8;
        }
        &:hover{
            background-color: var(--backgroundColor);
            &.disabled{
                background-color: transparent;
            }
        }
        &.disabled{
            background-color: transparent;
            border-color: var(--grayColor);
            cursor: default;
        }
        &.active{
            z-index: 2;
            .prev, .next{
                background-color: var(--baseColor);
            }
        }
        .prev, .next{
            height: $s1_6;
            width: $s1_6;
            -webkit-mask: url('../images/icon_next_arrow.svg');
            background-color: var(--grayColorHover);
        }
        .prev{
            transform: scale(-1);
        }
    }
}
/* Main Style End */

/* Breadcrumbs Style */
.breadcrumb{
    ul{
        display: $fl;
        margin: $s2_4 0;
        flex-wrap: wrap;
        li{
            font-weight: 500;
            & ~ li{
                margin-left: $s1_6;
            }
            a{
                position: $pr;
                color: var(--grayBlueColor);
                padding-right: $s1_2;
                &::after{
                    position: $pa;
                    content: '>';
                    right: 0;
                    font-size: $s1_3;
                }
                &:hover{
                    color: var(--baseColor);
                }
            }
        }
    }
}
/* Breadcrumbs Style End */

/* Product Style */
.pl{
    margin-left: -$s1_2;
    margin-right: -$s1_2;
}
.prod_box{
    position: $pr;
    display: $fl;
    transition: all .15s ease-in;
    cursor: pointer;
    z-index: 1;
    &:hover{
        box-shadow: 0 3px 10px rgba(100,100,100,.2);
        z-index: 3;
        .__prod_title_mini{
            color: var(--primaryColor);
        }
    }
}
.box_vertical{
    flex-direction: column;
    padding: $s1_2;
}
.prod_header{

}
.proj{
    padding-bottom: $s2;
    cursor: default;
    .__image_box{
        height: 240px;
        .__image_box_content{
            justify-content: flex-start;
            height: 240px;
        }
    }
    .prod_main{

    }
}
.__image_box{
    display: $fl;
    position: $pr;
    height: 180px;
    width: 100%;
    box-sizing: border-box;
    border-radius: $s_8;
    overflow: hidden;
    .__image_box_content{
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: flex-start;
        height: 180px;
        max-width: 90%;
        min-height: 0;
        min-width: 0;
        & ~ .__image_box_content{
            margin-left: $s_3;
        }
    }
}
.__image_box_content{
    display: $fl;
    align-items: $c;
    justify-content: $c;
    max-height: 100%;
    max-width: 100%;
    img{
        height: 100%;
        max-width: 100%;
    }
}
.prod_main{
    margin-top: $s1_6;
}
.__prod_title{
    font-size: $s1_7;
    font-weight: 600;
}
.__prod_title_mini{
    color: var(--secondColor);
    font-size: $s1_5;
    font-weight: 500;
    sup{
        font-size: $s1;
    }
}
.develop_logo{
    height: $s3_2;
    margin-left: $s1_6;
    img{
        height: 100%;
    }
}
.__prod_proj_desc{
    font-size: $s1_3;
    margin-top: $s_5;
}
.__prod_price{
    color: var(--baseColor);
    font-size: $s1_6;
    font-weight: 600;
    margin-top: $s_4;
}
.__prod_location{
    color: $headerLinkColor;
    font-size: $s1_3;
    margin-top: $s_6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.__project_room_list{
    margin-top: $s1;
}
.__proj_list_item{
    & ~ .__proj_list_item{
        padding-top: $s_4;
        margin-top: $s_4;
        border-top: $s_1 dashed var(--grayColor);
    }
    p{
        &:last-child{
            font-size: $s1_5;
            font-weight: 600;
            text-align: right;
        }
        sup{
            font-size: $s_9;
        }
    }
}
.__g2_3_5{
    grid-template-columns: 2fr 3fr 5fr;
    gap: $s1;
}
.__prod_more{
    position: $pa;
    left: $s1_6;
    right: $s1_6;
    bottom: $s1_6;
}
/* Product Style End */

/* Search Page Style */
.search_container{
    height: calc(100vh - 109px);
    padding: 0 $s1_6;
}
.filter_wrap{
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    padding: $s1 $s1_6 $s1_6;
    background-color: $wh;
    z-index: 9;
    .input, .select{
        border-radius: $s_8 !important;
    }
}
.filter_result, .map_wrap{
    padding-top: 135px;
    height: 100vh;
}
.result_wrap{
    padding-bottom: $s1_6;;
}
.map_wrap{
    position: sticky !important;
    top: 135px;
    height: calc(100vh - 151px);
    border-radius: $s1;
}
/* Search Page Style End */

/* Detail Style */
.bed{

}
.b_head{
    margin-bottom: $s2;
    h1{
        font-size: $s3_4;
        font-weight: bold;
    }
    .__addr{
        color: var(--grayBlueColor);
    }
    ul{
        display: $fl;
        align-items: $c;
        li{
            & ~ li{
                margin-left: $s1_6;
            }
        }
    }
    .__head_left{
        flex: 1;
        margin-right: $s3;
    }
}
.d_sub_menu{
    margin-bottom: $s2;
    .sub_menu{
        display: $fl;
        align-items: $c;
        div{
            & ~ div{
                margin-left: $s_8;
            }
            span{
                display: $fl;
                padding: $s_8 $s1_2;
                transition: all .15s ease-in;
                border-radius: $s_6;
                cursor: pointer;
                &:hover{
                    background-color: var(--backgroundColor);
                }
            }
        }
    }
}
.box_shadow{
    padding: $s1_6;
    box-shadow: 0 $s_2 $s1 -$s_3 rgba(100,100,100,.2);
    border-radius: $s1_6;
}
.d_slider{
    position: $pr;
    max-width: 838px;
    .__image_box, .__image_box_content{
        display: $fl;
        justify-content: $c;
        position: $pr;
        height: 480px;
        width: 100%;
        max-width: 100%;
        margin: 0 !important;
        z-index: 1;
        &.swiper-slide-active{
            z-index: 3;
        }
        img{
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            flex: 0 0 auto;
            transform: scale(1.02);
            object-fit: contain;
        }
    }
}
.big_img{
    & > img{
        position: $pa;
        content: '';
        height: 100% !important;
        width: 100% !important;
        max-height: initial !important;
        max-width: initial !important;
        object-fit: cover !important;
        transform: scale(1.2) !important;
        filter: blur(10px);
        opacity: .7;
        inset: 0;
    }
}
.g_d_s{
    grid-template-columns: 1fr 390px;
}
.g_d_c{
    grid-template-columns: 1fr 335px;
}
.d_list{
    padding: $s2 $s1 $s1;
    .__side_sub_title{
        font-size: $s2_4;
        font-weight: bold;
        margin-bottom: $s2;
        padding: $s_8 0 0;
    }
    .develop_logo{
        height: $s4_8;
    }
    & > div{
        & ~ div{
            margin-top: $s1_6;
        }
        h3{
            font-size: $s1_8;
            line-height: 1.3;
            span{
                color: $tertiaryColor;
                font-size: $s1_4;
                font-weight: 500;
                margin-left: $s_3;
            }
        }
        h4{
            font-size: $s1_6;
            font-weight: 500;
        }
        h5{
            font-size: $s1_5;
            font-weight: 500;
        }
        label{
            font-size: $s1_3;
            color: $tertiaryColor;
        }
        sup{
            position: $pr;
            font-size: $s1;
            font-weight: 500;
            line-height: $s1_1;
            top: -$s_1;
            margin-left: $s_1;
        }
    }
}
.g1_30{
    grid-template-columns: 1fr $s3;
}
.g40_1{
    grid-template-columns: $s4 1fr;
}
.g50_1{
    grid-template-columns: $s5 1fr;
}
.g1_40{
    grid-template-columns: 1fr $s4;
}
.swiper-button-next, .swiper-button-prev{
    background-size: 25% !important;
    background-color: $wh;
    box-shadow: 0 $s_1 $s_2 rgba(0,0,0,.2);
    border-radius: 50%;
}
.agent_box{
    padding: $s1_2;
    border-width: $s_1;
    border-style: solid;
    border-color: var(--lightGrayColor);
    border-radius: $s_8;
    h5{
        font-weight: bold !important;
    }
    a{
        color: var(--primaryColor);
        font-size: $s1_3;
        &:hover{
            text-decoration: underline;
        }
    }
    .agent_phone{
        position: $pr;
        height: $s4;
        width: $s4;
        background-color: $wh;
        border-width: $s_1;
        border-style: solid;
        border-color: var(--lightGrayColor);
        border-radius: $s_8;
        cursor: pointer;
        span{
            display: $fl;
            height: $s2_4;
            width: $s2_4;
            background-image: url('../images/icon_phone.svg');
            background-repeat: no-repeat;
            background-position: $c $c;
            background-size: 100%;
        }
        i{
            position: $pa;
            content: '';
            top: -$s3_2;
            left: -10000px;
            color: $wh;
            font-size: $s1_1;
            font-style: normal;
            padding: $s_6 $s1;
            background-color: rgba(0,0,0,.9);
            transition: opacity .3s ease, top .35s ease;
            transform: translateX(-50%);
            white-space: nowrap;
            border-radius: $s_4;
            visibility: hidden;
            opacity: 0;
        }
        &:hover{
            i{
                left: 50%;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.d_p_img{
    display: $fl;
    align-items: $c;
    justify-content: $c;
    height: $s5;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.gray_bg{
    background-color: $backgroundLightColor;
}
.schedule_box{
    margin-top: $s1_4;
    h6{
        color: $tertiaryColor;
        font-size: $s1_4;
        margin-bottom: $s1;
    }
    .schedule_item{
        text-align: $c;
        padding: $s_8;
        border-width: $s_1;
        border-style: solid;
        border-color: var(--lightGrayColor);
        border-radius: $s_8;
        cursor: pointer;
        &.active{
            background-color: var(--backgroundColor);
            border-color: var(--grayColorHover);
            p{
                color: var(--baseColor);
            }
            h4{
                color: var(--primaryColor);
            }
        }
        p{
            color: $tertiaryColor;
            font-size: $s1_2;
        }
        h4{
            color: $tertiaryHoverColor;
            font-size: $s1_7;
        }
    }
}
.d_main{

}
.main_content{
    margin-top: $s4_8;
}
.d_main_wrap{
    .dm_box{
        & ~ .dm_box{
            margin-top: $s4_8;
        }
    }
    h2{
        font-size: $s2_2;
        margin: $s4 0 $s2_4;
    }
    p{
        color: var(--secondColor);
        font-size: $s1_5;
        line-height: 1.8;
        margin-top: $s2;
    }
    .dm_content{
        ul{
            list-style: inherit !important;
        }
        ul, ol{
            margin: $s2 0 !important;
            padding-left: $s2_4 !important;
            li{
                color: var(--secondColor);
                font-size: $s1_5;
                font-weight: 500;
                line-height: 1.8;
                margin-left: $s2;
                & ~ li{
                    margin-top: $s1;
                }
                &::marker{
                    color: var(--baseColor);
                    margin-left: -$s1 !important;
                }
            }
        }
    }
    .input, .select{
        border-radius: $s_8 !important;
    }
}
.description_video{
    margin: $s4 0;
}
.dm_sub_title{
    margin-bottom: $s1_6;
    & ~ .dm_sub_title{
        margin-top: $s4;
    }
    h3{
        font-size: $s2_2;
    }
    p{
        color: var(--grayBlueColor);
        margin: 0 !important;
    }
}
.room_layout{
    margin-top: $s1;
    .layout_box{
        margin-top: $s1;
        transition: all .15s ease-in;
        border: $s_1 solid var(--lightGrayColor);
        border-radius: $s_8;
        overflow: hidden;
        .layout_line{
            padding: $s_8;
            padding-right: $s1_2;
            min-height: $s4;
            transition: all .15s linear;
            border-radius: $s_7;
            cursor: pointer;
            -webkit-transition: all .15s linear;
            -moz-transition: all .15s linear;
            -ms-transition: all .15s linear;
            -o-transition: all .15s linear;
}
        &:hover{
            border-color: var(--grayColorHover);
        }
        .loyout_icon{
            height: $s3_6;
            width: $s3_6;
            background-color: var(--lightGrayColor);
            border-radius: $s_4;
        }
        h3{
            color: var(--greenColor);
            font-weight: 600 !important;
        }
        [class*="room"]{
            font-size: $s1_5;
            font-weight: 500;
            span{
                color: var(--grayBlueColor);
                font-size: $s1_3;
                margin-left: $s_2;
            }
            sup{
                font-size: $s1;
            }
        }
        .count{
            color: var(--greenColor);
        }
        .__arrow{
            height: $s3;
            width: $s3;
            background-color: var(--backgroundColor);
            border-radius: $s_8;
            span{
                height: $s1_6;
                width: $s1_6;
                transition: all .15s ease-in;
                transform: rotate(90deg);
            }
        }
        .layout_rooms{
            display: none;
            position: $pr;
            transition: display .05s linear, opacity .15s ease-in, visibility .15s ease-in;
            visibility: hidden;
            opacity: 0;
        }
        &.open{
            border-color: var(--greenColor);
            .layout_line{
                background-color: var(--greenColor);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-color: transparent;
                [class*="room"]{
                    color: $wh;
                    span{
                        color: rgba(255,255,255,.6);
                    }
                }
                .loyout_icon{
                    background-color: $wh;
                }
                .__arrow{
                    background-color: rgba(255,255,255,.2);
                    span{
                        transform: rotate(-90deg);
                        svg{
                            path{
                                fill: $wh !important;
                            }
                        }
                    }
                }
            }
            .layout_rooms{
                display: block;
                visibility: visible;
                opacity: 1;
            }
        }
        .layout_col{
            padding: $s1_6;
            grid-template-columns: 160px 1fr;
            & ~ .layout_col{
                border-top: $s_1 dashed var(--grayColorHover);
            }
            // &:nth-child(2n + 1){
            //     background-color: var(--backgroundColor);
            // }
            .room_img{
                height: $s16;
                width: $s16;
                background-color: $wh;
                border-radius: $s_4;
                overflow: hidden;
                .room_plan{
                    display: $fl;
                    align-items: $c;
                    height: $s16;
                    width: $s16;
                    justify-content: $c;
                    min-height: 100%;
                    min-width: 100%;
                    img{
                        height: auto;
                        width: auto;
                        max-height: 100%;
                        max-width: 100%;
                        flex: 0 0 auto;
                    }
                }
            }
            .d_list{
                padding: 0;
                & > div{
                    & ~ div{
                        margin: 0;
                    }
                }
            }
        }
    }
}
.d_sketch{
    margin: $s4_8 0;
    .sketch_plan_main{
        position: $pr;
        width: 100vw;
        overflow: hidden;
        &::before{
            position: $pa;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.2);
            z-index: 1;
        }
        .__sketch_polygon{
            position: $pa;
            z-index: 3;
            path{
                fill: rgba(255,255,255,.1) !important;
                // stroke-linejoin: miter;
                // stroke-width: $s_1;
                // stroke: $wh;
                transition: all .15s ease-in;
                cursor: pointer;
                &:hover{
                    fill: rgba(255,255,255,.3) !important;
                }
            }
        }
        .sketch_polygon_center{
            display: $fl;
            align-items: $c;
            justify-content: $c;
            position: $pa;
            z-index: 4;
            height: $s2;
            width: $s2;
            background-color: var(--primaryColor);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            cursor: pointer;
            &::before{
                position: $pa;
                content: '';
                height: $s1;
                width: $s1;
                background-color: $wh;
                transition: all .15s ease-in;
                border-radius: 50%;
            }
            &:hover{
                &::before{
                    height: $s1_4;
                    width: $s1_4;
                }
                & + .__sketch_polygon{
                    path{
                        &:hover{
                            fill: rgba(255,255,255,.2);
                        }
                    }
                }
            }
        }
        img{
            display: block;
            width: 100%;
            overflow: hidden;
        }
    }
}
.fix_view{
    position: sticky;
    top: 85px;
    padding: $s2;
    .d_list{
        padding: 0;
    }
}
.slider_thumbs{
    left: $s1_6;
    bottom: $s1_6;
    z-index: 3;
    .thumbs{
        position: $pr;
        display: $fl;
        align-items: $c;
        justify-content: $c;
        & > div{
            position: $pr;
            display: $fl;
            align-items: $c;
            justify-content: $c;
            height: $s6_4;
            width: $s6_4 !important;
            border-radius: $s_8;
            cursor: pointer;
            box-shadow: 0 $s_2 $s_3 rgba(0,0,0,.2);
            box-sizing: border-box;
            overflow: hidden;
            &.active{
                &::before{
                    position: $pa;
                    content: '';
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: $s_2 solid $wh;
                    border-radius: $s_8;
                    z-index: 3;
                }
            }
            img{
                height: 100%;
                object-fit: cover;
            }
            & ~ div{
                margin-left: $s_8;
            }
        }
    }
}
/* Detail Style End */

/* Responsive Style */
@media (max-width: 1282px) {
    .g_d_s{
        grid-template-columns: calc(100vw - 482px) 390px;
    }
    .full_container{
        max-width: 100%;
        padding: 0 $s2;
    }
    .d_slider{
        max-width: calc(100vw - 390px);
        .__image_box img, .d_slider .__image_box_content img{
            height: 100%;
            max-width: initial;
        }
    }
}

@media (max-width: 1264px) {
    .container{
        max-width: 100%;
        padding: 0 $s2;
    }
}

@media (max-width: 1081px) {
    .container, .full_container{
        padding: 0 $s1_6;
    }
}
/* Responsive Style End */
