/* FontFace */
@font-face {
  font-family: 'manrope';
  font-weight: 200;
  src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 300;
  src: url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 600;
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 800;
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
}

/* FontFace End */
/* Size */
/* Size End */
/* Color */
:root {
  --lightBg: #f6f8f9;
  --backgroundColor: #eef1f4;
  --primaryColor: #d52130;
  --primaryHoverColor: #ae1827;
  --baseColor: #191b1d;
  --baseColorHover: #767676;
  --secondColor: #151617;
  --blueColor: #0380fd;
  --secondHoverColor: #0971e2;
  --greenColor: #14b292;
  --greenColorHover: #0f8f75;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --grayLinkColor: rgba(0,0,0,.35);
  --grayBlueColor: #9a9fa8;
}

/* Color End */
/* FontFace */
@font-face {
  font-family: 'manrope';
  font-weight: 200;
  src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 300;
  src: url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 600;
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 800;
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
}

/* FontFace End */
/* Size */
/* Size End */
/* Color */
:root {
  --lightBg: #f6f8f9;
  --backgroundColor: #eef1f4;
  --primaryColor: #d52130;
  --primaryHoverColor: #ae1827;
  --baseColor: #191b1d;
  --baseColorHover: #767676;
  --secondColor: #151617;
  --blueColor: #0380fd;
  --secondHoverColor: #0971e2;
  --greenColor: #14b292;
  --greenColorHover: #0f8f75;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --grayLinkColor: rgba(0,0,0,.35);
  --grayBlueColor: #9a9fa8;
}

/* Color End */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-size: 14px;
  font-family: "manrope";
  color: var(--baseColor);
  line-height: 1.4;
  font-weight: 500;
  font-style: normal;
  position: relative;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--baseColor);
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  color: var(--baseColor);
  text-decoration: none;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
  padding: 0;
  margin: 0;
}

/* Other Style */
.clear-fix {
  display: block;
  clear: both;
}

.clear-fix::after {
  content: '.';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*, *:focus, *:active {
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

.dg {
  display: -ms-grid;
  display: grid;
}

.__dgc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__g1a1 {
  -ms-grid-columns: 1fr 250px 1fr;
      grid-template-columns: 1fr 250px 1fr;
}

.__g1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.__g1_2_1 {
  -ms-grid-columns: calc(25% - 8px) calc(50% - 16px) calc(25% - 8px);
      grid-template-columns: calc(25% - 8px) calc(50% - 16px) calc(25% - 8px);
}

.__g1_3 {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.__g1_4 {
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.g2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.__g2_1 {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.__g1_2 {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.__g20_1 {
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
}

.__g2_5_2 {
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.g3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.__g3_2 {
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.__gc3_1 {
  -ms-grid-columns: 34px 1fr;
      grid-template-columns: 34px 1fr;
}

.__g4_1 {
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.__gp_d_g {
  -ms-grid-columns: 1fr 56px;
      grid-template-columns: 1fr 56px;
}

.g4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.__g1_c290 {
  -ms-grid-columns: 1fr 290px;
      grid-template-columns: 1fr 290px;
}

.__g1_c400 {
  -ms-grid-columns: 1fr 400px;
      grid-template-columns: 1fr 400px;
}

.g5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.__g6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.__g60_1 {
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
}

.__g7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.__g8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.__gap_8 {
  gap: 8px;
}

.gap1 {
  gap: 10px;
}

.__gap1_5 {
  gap: 15px;
}

.gap1_6 {
  gap: 16px;
}

.gap2 {
  gap: 20px;
}

.gap2_4 {
  gap: 24px;
}

.__gap2_5 {
  gap: 25px;
}

.__gap3 {
  gap: 30px;
}

.__gap3_2 {
  gap: 32px;
}

.__gap4 {
  gap: 40px;
}

.__gapr4 {
  row-gap: 40px;
}

.__gc290_1_ {
  -ms-grid-columns: 290px 1fr;
      grid-template-columns: 290px 1fr;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dfs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dcsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dssb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.__dfsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.__dfcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.__dfss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.__dfce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_g {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.__fd_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.__fd_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pr {
  position: relative !important;
}

.pa {
  position: absolute !important;
}

.pf {
  position: fixed;
}

.__pa_cc {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.__t1 {
  top: 10px;
}

.__t1_6 {
  top: 16px;
}

.__t2_4 {
  top: 24px;
}

.__t2 {
  top: 20px;
}

.__t3 {
  top: 30px;
}

.__b1 {
  bottom: 10px;
}

.__b1_6 {
  bottom: 16px;
}

.__b2 {
  bottom: 20px;
}

.__b3 {
  bottom: 30px;
}

.__b3_2 {
  bottom: 32px;
}

.__l1 {
  left: 10px;
}

.__l1_6 {
  left: 16px;
}

.__l2 {
  left: 20px;
}

.__l3 {
  left: 30px;
}

.__r1 {
  right: 10px;
}

.__r1_6 {
  right: 16px;
}

.__r2_4 {
  right: 24px;
}

.__r2 {
  right: 20px;
}

.__r3 {
  right: 30px;
}

.__r10 {
  right: 100px;
}

.__w10 {
  width: 100%;
}

.__cup {
  cursor: pointer;
}

.__tac {
  text-align: center;
}

.__ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Padding Style */
.__p1 {
  padding: 10px;
}

.__p1_5 {
  padding: 15px;
}

.__p2 {
  padding: 20px;
}

.__p2_5 {
  padding: 25px;
}

.__p3 {
  padding: 30px;
}

.__pt1 {
  padding-top: 10px;
}

.__pb1 {
  padding-bottom: 10px;
}

.__pb1_5 {
  padding-bottom: 15px;
}

.__pl1 {
  padding-left: 10px;
}

.__pr1 {
  padding-right: 10px;
}

.__pl1_2 {
  padding-left: 12px;
}

.__pt2 {
  padding-top: 20px;
}

.__pb2 {
  padding-bottom: 20px;
}

.__pl2 {
  padding-left: 20px;
}

.__pr2 {
  padding-right: 20px;
}

.__pt25 {
  padding-top: 25px;
}

.__pb25 {
  padding-bottom: 25px;
}

.__pl25 {
  padding-left: 25px;
}

.__pr25 {
  padding-right: 25px;
}

.__pt3 {
  padding-top: 30px;
}

.__pb3 {
  padding-bottom: 30px;
}

.__pl3 {
  padding-left: 30px;
}

.__pl3_5 {
  padding-left: 35px;
}

.__pr3 {
  padding-right: 30px;
}

.__pt4 {
  padding-top: 40px;
}

.__pt6 {
  padding-top: 60px;
}

.__pb6 {
  padding-bottom: 60px;
}

.__pb6_8 {
  padding-bottom: 68px !important;
}

.__pb8 {
  padding-bottom: 80px;
}

/* Padding Style End */
/* Margin Style */
.__mt1 {
  margin-top: 10px !important;
}

.__mt1_2 {
  margin-top: 12px;
}

.__mb1 {
  margin-bottom: 10px !important;
}

.__ml_8 {
  margin-left: 8px;
}

.__ml1 {
  margin-left: 10px;
}

.__ml1_5 {
  margin-left: 15px;
}

.__ml1_6 {
  margin-left: 16px;
}

.__mr1 {
  margin-right: 10px;
}

.__mt1_6 {
  margin-top: 16px;
}

.__mt2 {
  margin-top: 20px;
}

.__mb2 {
  margin-bottom: 20px;
}

.ml2 {
  margin-left: 20px;
}

.__mr2 {
  margin-right: 20px;
}

.__mt25 {
  margin-top: 25px;
}

.__mb25 {
  margin-bottom: 25px;
}

.__mb2_4 {
  margin-bottom: 24px !important;
}

.__ml25 {
  margin-left: 25px;
}

.__mr25 {
  margin-right: 25px;
}

.__mt3 {
  margin-top: 30px !important;
}

.__mt3_2 {
  margin-top: 32px !important;
}

.__mb3 {
  margin-bottom: 30px;
}

.__ml3 {
  margin-left: 30px;
}

.__mr3 {
  margin-right: 30px;
}

.__mt4 {
  margin-top: 40px;
}

.__mt4_4 {
  margin-top: 44px;
}

.__mb4 {
  margin-bottom: 40px;
}

.__ml4 {
  margin-left: 40px;
}

.__mr4 {
  margin-right: 40px;
}

.__mt5 {
  margin-top: 50px;
}

.__mb5 {
  margin-bottom: 50px;
}

.__ml5 {
  margin-left: 50px;
}

.__mr5 {
  margin-right: 50px;
}

.__mb6 {
  margin-bottom: 60px;
}

.__mt6 {
  margin-top: 60px;
}

.__mt8 {
  margin-top: 80px;
}

.__mb8 {
  margin-bottom: 80px;
}

.__mb9 {
  margin-bottom: 90px;
}

.__mr12 {
  margin-right: 120px;
}

.__mc {
  margin-left: auto;
  margin-right: auto;
}

.__mt0 {
  margin-top: 0 !important;
}

.__mta {
  margin-top: auto;
}

.__m0 {
  margin: 0 !important;
}

/* Margin Style End */
/* Border Radius Style */
.__br1_6 {
  border-radius: 16px;
}

/* Border Radius Style End */
/* Main Style */
.container {
  margin: 0 auto;
  max-width: 1140px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full_container {
  margin: 0 auto;
  max-width: 1280px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background-color: var(--secondColor);
}

::selection {
  color: #fff;
  background-color: var(--secondColor);
}

/* Main Style End */
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.__bgcover {
  background-size: cover;
}

.__bgpo_cc {
  background-position: center center;
}

.__bgpo_lc {
  background-position: left center;
}

.__bgpo_cl {
  background-position: center center;
}

.__bgnore {
  background-repeat: no-repeat;
}

.input,
.select,
.__textarea {
  position: relative;
  color: var(--baseColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "manrope";
  font-weight: 500;
  line-height: 20px;
  height: 44px;
  width: 100%;
  padding: 8px 12px;
  background-color: #fff;
  -webkit-transition: border-color 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: border-color 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--grayColorHover);
  border-radius: 8px;
  z-index: 0;
}

.input.__filled,
.select.__filled,
.__textarea.__filled {
  padding: 0 31px 0 7px;
  border-width: 2px;
}

.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder,
.__textarea::-webkit-input-placeholder {
  color: #7f8da5;
}

.input:-ms-input-placeholder,
.select:-ms-input-placeholder,
.__textarea:-ms-input-placeholder {
  color: #7f8da5;
}

.input::-ms-input-placeholder,
.select::-ms-input-placeholder,
.__textarea::-ms-input-placeholder {
  color: #7f8da5;
}

.input::placeholder,
.select::placeholder,
.__textarea::placeholder {
  color: #7f8da5;
}

.select {
  padding-right: 32px;
}

.__textarea {
  height: auto;
  min-height: 6rem;
  max-height: 12rem;
  resize: vertical;
}

.input::-webkit-input-placeholder {
  color: #acb4c1;
}

.input:-ms-input-placeholder {
  color: #acb4c1;
}

.input::-ms-input-placeholder {
  color: #acb4c1;
}

.input::placeholder {
  color: #acb4c1;
}

.input:hover,
.select:hover,
.__textarea:hover,
.input_rest:hover {
  border-color: #7f8da5;
}

.input:focus,
.select:focus,
.__textarea:focus,
.input_rest:focus {
  border-color: var(--baseColor);
}

.__form_item {
  display: -ms-grid;
  display: grid;
  margin-bottom: 16px;
}

.__form_item_line {
  display: -ms-grid;
  display: grid;
  margin: 24px 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 16, 34, 0.1);
}

.__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #495460;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  min-height: 20px;
  margin-bottom: 8px;
}

.__label strong {
  color: var(--secondColor);
  font-weight: bold;
  margin: 0 0 0 4px;
}

.label, .label-text {
  color: var(--baseColor) Hover;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 0 !important;
  width: 100%;
  overflow: hidden;
}

.__text_desc {
  margin-top: 8px;
}

.__text_desc p {
  color: var(--primaryColor);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #495460;
}

.__text_desc p ~ p {
  margin-top: 8px;
}

.__text_desc .__error {
  color: #d0021b;
  font-weight: 700;
}

.radio-label .radiobox {
  opacity: 0;
  position: absolute;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type=radio]:checked + .label {
  background-color: rgba(155, 129, 111, 0.3);
  border-color: #9a8270;
}

.radio-label .checkmark {
  height: 16px;
  width: 16px;
}

.checkbox[type="checkbox"]:checked + .checkmark::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 14px;
  width: 14px;
  background: url("../../images/__checked_img.svg") center center no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkbox[type="checkbox"]:checked + .checkmark::before {
  display: none;
}

.checkbox[type="checkbox"]:checked + .checkmark,
.label:hover .checkbox[type="checkbox"]:checked + .checkmark {
  background-color: var(--baseColor);
  border: none;
}

.radiobox[type="radio"]:checked + .checkmark {
  border-color: var(--baseColor);
}

.radiobox[type="radio"]:checked + .checkmark::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background-color: var(--baseColor);
  border-color: #9a8270;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.radio-label,
.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  min-height: 20px;
  padding-left: 32px;
  color: var(--baseColor);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-label {
  min-height: 20px;
  line-height: 20px;
}

.radio-label strong {
  color: var(--baseColor);
  font-size: 12px;
}

.radio-label .label-text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--baseColor);
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  margin-top: 4px;
}

.radio-label .label-text p {
  padding: 3px 0;
}

.radio-label .label-text .__learn_more {
  text-decoration: underline;
}

.checkbox-label .checkbox {
  opacity: 0;
  position: absolute;
}

.checkmark {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #7f8da5;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.radio-label .checkmark {
  height: 20px;
  width: 20px;
  border-color: #7a7a7a;
  border-radius: 50%;
}

.active .label-text {
  color: #15b957;
}

.active ._c_count {
  color: var(--baseColor);
}

/* Button Style */
.btn {
  position: relative;
  color: var(--baseColor);
  font-size: 14px;
  font-family: "manrope";
  font-weight: 500;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}

.btn_l {
  height: 44px;
  border-radius: 8px;
}

.btn_m {
  height: 38px;
  border-radius: 8px;
}

.btn_s {
  height: 32px;
  min-width: 32px;
  border-radius: 6px;
}

.btn_htrans {
  -webkit-transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}

.default {
  background-color: var(--backgroundColor) !important;
  border-color: #7f8da5;
}

.default:hover {
  background-color: var(--grayColor) !important;
}

.default .__deactivated {
  opacity: .6;
}

.primary {
  color: #fff;
  background-color: var(--primaryColor);
}

.primary:hover {
  background-color: var(--primaryHoverColor);
}

.__gray {
  background-color: var(--grayColor);
}

.__gray:hover {
  background-color: var(--grayColorHover);
}

.__black {
  color: #fff;
  background-color: var(--baseColor);
}

.__ads_add {
  color: #fff;
  background-color: var(--primaryColor);
}

.__ads_add:hover {
  background-color: var(--primaryHoverColor);
}

.__white_btn {
  background-color: #fff;
  border-width: 1px;
  border-color: var(--lightGrayColor);
}

.__white_btn:hover {
  border-color: var(--grayColorHover);
}

.__second_btn {
  color: #fff;
}

.__sf_btn {
  padding-left: 8px;
}

.__sf_btn .icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

/* Button Style End */
/* Other */
.checkbox-label:not(.disabled).\:focus .checkbox ~ .checkmark,
.checkbox-label:not(.disabled):focus .checkbox ~ .checkmark {
  opacity: 1;
  z-index: 10;
  outline: 2px dotted var(--baseColor);
  outline-offset: 2px;
}

.oh {
  overflow: hidden;
}

.__bgw {
  background-color: #fff !important;
}

.__bc_bg {
  background-color: var(--primaryColor);
}

.__p_t {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  position: relative;
  color: #000f23;
  font-size: 26px;
  font-family: "manrope";
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  padding-bottom: 10px;
  margin: 56px 0 40px;
}

.__p_t::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: #000f23;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.__txtu {
  text-transform: uppercase;
}

.__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.__now {
  white-space: nowrap;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat !important;
  background-size: 100%;
  background-position: center center;
}

/* Other End */
/* Reclam Style */
.reclam {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.reclam .reclam_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.reclam .reclam_img img {
  width: 100%;
}

.reclam span {
  color: var(--baseColor);
  font-size: 13px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  cursor: pointer;
  z-index: 3;
}

.home {
  height: 240px;
  background-color: var(--backgroundColor);
}

/* Reclam Style End */
/* Header Style */
.__header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid var(--backgroundColor);
  z-index: 99;
}

.__navbar {
  height: 64px;
}

.__header_logo {
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}

.__header_logo span {
  height: 46px;
  width: 97px;
  margin-right: 1px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.__header_logo .__slogan {
  font-weight: 800;
  text-transform: uppercase;
}

.__header_logo .__slogan sup {
  position: relative;
  font-size: 10px;
  top: 2px;
}

.__region_select {
  line-height: 30px;
  padding: 0 12px 0 8px;
  border-radius: 8px;
}

.__region_select:hover {
  background-color: var(--backgroundColor);
}

.__region_select i {
  font-size: 13px;
  font-style: normal;
  margin-left: 5px;
}

.__region_icon {
  height: 14px;
  width: 14px;
  background-image: url("../images/icon_region.svg");
}

.__favourite_link {
  height: 38px;
  width: 38px;
  border-radius: 8px;
  cursor: pointer;
}

.__favourite_link:hover {
  background-color: var(--backgroundColor);
}

.__favourite_link:hover .__fav_icon {
  -webkit-mask: url("../images/icon_favourite.svg");
  background: #929aa5;
}

.__fav_icon {
  height: 24px;
  width: 24px;
  background-image: url("../images/icon_favourite.svg");
}

.__share_icon {
  height: 24px;
  width: 24px;
  background-image: url("../images/icon_share.svg");
}

.__project_icon {
  line-height: 44px;
  height: 16px;
  width: 72px;
  background-image: url("../images/icon_project.svg");
}

.__header_stuff_users {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.__main_menu .__menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__main_menu .__menu_list li:first-child a {
  padding-left: 0;
}

.__main_menu .__menu_list li > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 64px;
  padding: 0 12px;
}

.__main_menu .__menu_list li > a span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.__main_menu .__menu_list li > a span::after {
  position: absolute;
  content: '';
  left: 50%;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  opacity: 0;
  background-color: var(--primaryColor);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  visibility: hidden;
  z-index: 1;
}

.__main_menu .__menu_list li:hover a span::after {
  width: calc(100% - 16px);
  opacity: 1;
  visibility: visible;
}

.__main_menu .__menu_list li:hover .__sub_menu_wrap {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.__main_menu .__arena_url a {
  padding-right: 0 !important;
}

.__sub_menu_wrap {
  position: absolute;
  left: -10000px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  padding: 24px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity .3s ease, top .35s ease;
  transition: opacity .3s ease, top .35s ease;
  border-top: 1px solid var(--backgroundColor);
  z-index: 9;
}

/* Header Style End */
/* Main Style */
.main_wrap {
  padding-top: 64px;
}

.__realty_filter {
  height: 450px;
}

.__realty_filter::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  z-index: 0;
}

.__realty_filter .__rf_block {
  height: 100%;
  z-index: 1;
}

.__realty_filter .__rf_content {
  width: 90%;
}

.__rf_title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.__rf_title h1 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.__rf_head {
  position: relative;
  z-index: 1;
}

.real_form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--lightGrayColor);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.real_form .__label {
  font-size: 16px;
}

.real_form:hover {
  border-color: var(--grayColor);
}

.real_form .rf_item {
  position: relative;
  width: 100%;
}

.real_form .rf_item::before, .real_form .rf_item::after {
  position: absolute;
  content: '';
  right: -20px;
  bottom: 0;
  height: 20px;
  width: 20px;
  -webkit-box-shadow: -10px 10px 0 0 #fff;
          box-shadow: -10px 10px 0 0 #fff;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.real_form .rf_item::before {
  left: -20px;
  right: auto;
  -webkit-box-shadow: 10px 10px 0 0 #fff;
          box-shadow: 10px 10px 0 0 #fff;
}

.real_form .rf_item:first-child::before {
  display: none;
}

.real_form .active span, .real_form .active:hover span {
  color: var(--baseColor);
  background-color: #fff;
}

.real_form .active::before, .real_form .active::after, .real_form .active:hover::before, .real_form .active:hover::after {
  opacity: 1;
  visibility: visible;
}

.__s_result {
  color: #7f8da5;
  font-size: 13px;
  background-color: var(--backgroundColor);
  white-space: nowrap;
}

.__s_result:hover {
  border-color: var(--grayColorHover);
}

.__s_result span {
  color: #fff;
  font-size: 15px;
  line-height: 1;
  padding: 4px 6px;
  margin-left: 4px;
  background-color: var(--primaryColor);
  border-radius: 20px;
}

.search_btn {
  padding-left: 10px;
}

.search {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  background-image: url("../images/icon_search.svg");
}

.__save_search {
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.__save_search:hover {
  background-color: var(--backgroundColor);
}

.real_form_content {
  position: relative;
  background-color: #fff;
  z-index: 3;
}

.real_form_content .rf_item .input:hover, .real_form_content .rf_item .select:hover {
  z-index: 2;
}

.real_form_content .rf_item .input:focus, .real_form_content .rf_item .select:focus {
  z-index: 3;
}

.real_form_content .rf_item:last-child .rf_list, .real_form_content .rf_item:last-child .input, .real_form_content .rf_item:last-child .select {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.real_form_items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.real_form_items .rf_item.__rf_region {
  width: 140px;
}

.rf_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  margin-left: 5px;
}

.rf_list:hover {
  border-color: #7f8da5;
  z-index: 2;
}

.rf_list:focus, .rf_list:active, .rf_list:focus-within, .rf_list:focus-visible {
  border-color: var(--baseColor) !important;
  z-index: 3;
}

.rf_list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7f8da5;
  font-size: 16px;
  line-height: 1;
  height: 44px;
  width: 44px;
  background-color: var(--lightBg);
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border-width: 1px;
  border-style: solid;
  border-color: var(--backgroundColor);
  border-radius: 8px;
  cursor: pointer;
}

.rf_list > div h4 {
  font-weight: 600;
}

.rf_list > div span {
  font-size: 10px;
  font-weight: 400;
  line-height: 8px;
  margin-top: 2px;
}

.rf_list > div.active, .rf_list > div.active:hover {
  color: #fff;
  background-color: var(--baseColor);
  border-color: transparent;
}

.rf_list > div.active span, .rf_list > div.active:hover span {
  color: #fff;
  background-color: transparent;
}

.rf_list > div ~ div {
  margin-left: 5px;
}

.rf_list > div:hover {
  color: #5c677a;
  background-color: var(--lightGrayColor);
  border-color: var(--grayColor);
}

.__rf_inputs .input {
  padding-left: 12px;
  padding-right: 12px;
  height: 42px;
  max-width: 120px;
  border: none;
}

.__rf_inputs .input:first-child {
  padding-right: 8px;
}

.__rf_inputs .input:last-child {
  padding-left: 8px;
}

.real_view {
  margin-top: 24px;
  margin-bottom: 30px;
}

.real_view .real_tab {
  min-height: 60px;
  padding: 20px 20px 16px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: var(--lightGrayColor);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border-radius: 16px;
  cursor: pointer;
}

.real_view .real_tab:hover {
  background-color: #fff;
  border-color: var(--grayColor);
}

.real_view .real_tab:hover .ha_big {
  color: var(--primaryColor);
}

.real_view .real_tab:hover .rv_next {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.real_view .real_tab .tab_icon {
  height: 50px;
  width: 80px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.real_view .real_tab .sell {
  background-image: url("../images/icon_sell.svg");
}

.real_view .real_tab .rent {
  background-image: url("../images/icon_rent.svg");
}

.real_view .real_tab .rent svg g:nth-child(2) g:first-child {
  -webkit-animation: keyanim 1.5s infinite linear;
          animation: keyanim 1.5s infinite linear;
}

@-webkit-keyframes keyanim {
  50% {
    -webkit-transform: matrix(0.75, 0.6, -0.8, 0.6, 25, -3);
            transform: matrix(0.75, 0.6, -0.8, 0.6, 25, -3);
  }
}

@keyframes keyanim {
  50% {
    -webkit-transform: matrix(0.75, 0.6, -0.8, 0.6, 25, -3);
            transform: matrix(0.75, 0.6, -0.8, 0.6, 25, -3);
  }
}

.real_view .real_tab h2 {
  font-size: 16px;
  font-weight: 500;
}

.real_view .rf_item:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.real_view .rf_item:first-child .input, .real_view .rf_item:first-child .select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.real_view .rf_item ~ .rf_item {
  margin-left: -1px;
}

.real_view .rf_item ~ .rf_item .input, .real_view .rf_item ~ .rf_item .select {
  border-radius: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.__mh_80 {
  min-height: 80px;
}

.box_item {
  background-color: #fff;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  border-radius: 16px;
}

.box_item:hover .ha_big {
  color: var(--primaryColor);
}

.box_item:hover .rv_next {
  opacity: 1;
}

.__box_pad {
  padding: 20px;
}

.__ha_txt {
  color: #7f8da5;
  font-size: 13px;
}

.ha_big {
  color: var(--secondColor);
  font-size: 16px;
  font-weight: 600;
}

.rv_next {
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.next_arrow {
  height: 20px;
  width: 20px;
  background-image: url("../images/icon_next_arrow.svg");
}

.section {
  padding: 20px 0;
}

.section_title {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 20px;
}

.__cat_link li a {
  position: relative;
  padding: 6px 8px;
  border-radius: 8px;
}

.__cat_link li a:hover {
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
}

.__cat_link li a:hover span {
  color: var(--baseColor);
  background-color: var(--backgroundColor);
}

.__cat_link li a:hover p {
  background-color: var(--backgroundColor);
}

.__cat_link li a:hover::after {
  border-color: var(--grayColor);
}

.__cat_link li a::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 12px;
  right: 12px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: var(--backgroundColor);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

.__cat_link li a p, .__cat_link li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  z-index: 3;
}

.__cat_link li a p {
  color: var(--secondColor);
  padding-right: 10px;
}

.__cat_link li a span {
  color: #7f8da5;
  font-weight: 500;
  padding-left: 10px;
}

.__box_project {
  background-color: var(--secondColor);
}

.__box_project:hover .ha_big,
.__box_project .ha_big {
  color: #fff;
}

.prod_list_arrow .arrow_btn {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #7f8da5;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border-radius: 8px;
  cursor: pointer;
  z-index: 0;
}

.prod_list_arrow .arrow_btn ~ .arrow_btn {
  margin-left: 8px;
}

.prod_list_arrow .arrow_btn:hover {
  background-color: var(--backgroundColor);
}

.prod_list_arrow .arrow_btn:hover.disabled {
  background-color: transparent;
}

.prod_list_arrow .arrow_btn.disabled {
  background-color: transparent;
  border-color: var(--grayColor);
  cursor: default;
}

.prod_list_arrow .arrow_btn.active {
  z-index: 2;
}

.prod_list_arrow .arrow_btn.active .prev, .prod_list_arrow .arrow_btn.active .next {
  background-color: var(--baseColor);
}

.prod_list_arrow .arrow_btn .prev, .prod_list_arrow .arrow_btn .next {
  height: 16px;
  width: 16px;
  -webkit-mask: url("../images/icon_next_arrow.svg");
  background-color: var(--grayColorHover);
}

.prod_list_arrow .arrow_btn .prev {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

/* Main Style End */
/* Breadcrumbs Style */
.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb ul li {
  font-weight: 500;
}

.breadcrumb ul li ~ li {
  margin-left: 16px;
}

.breadcrumb ul li a {
  position: relative;
  color: var(--grayBlueColor);
  padding-right: 12px;
}

.breadcrumb ul li a::after {
  position: absolute;
  content: '>';
  right: 0;
  font-size: 13px;
}

.breadcrumb ul li a:hover {
  color: var(--baseColor);
}

/* Breadcrumbs Style End */
/* Product Style */
.pl {
  margin-left: -12px;
  margin-right: -12px;
}

.prod_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  cursor: pointer;
  z-index: 1;
}

.prod_box:hover {
  -webkit-box-shadow: 0 3px 10px rgba(100, 100, 100, 0.2);
          box-shadow: 0 3px 10px rgba(100, 100, 100, 0.2);
  z-index: 3;
}

.prod_box:hover .__prod_title_mini {
  color: var(--primaryColor);
}

.box_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}

.proj {
  padding-bottom: 20px;
  cursor: default;
}

.proj .__image_box {
  height: 240px;
}

.proj .__image_box .__image_box_content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 240px;
}

.__image_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 180px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.__image_box .__image_box_content {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 180px;
  max-width: 90%;
  min-height: 0;
  min-width: 0;
}

.__image_box .__image_box_content ~ .__image_box_content {
  margin-left: 3px;
}

.__image_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

.__image_box_content img {
  height: 100%;
  max-width: 100%;
}

.prod_main {
  margin-top: 16px;
}

.__prod_title {
  font-size: 17px;
  font-weight: 600;
}

.__prod_title_mini {
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 500;
}

.__prod_title_mini sup {
  font-size: 10px;
}

.develop_logo {
  height: 32px;
  margin-left: 16px;
}

.develop_logo img {
  height: 100%;
}

.__prod_proj_desc {
  font-size: 13px;
  margin-top: 5px;
}

.__prod_price {
  color: var(--baseColor);
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.__prod_location {
  color: #b1b7bf;
  font-size: 13px;
  margin-top: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.__project_room_list {
  margin-top: 10px;
}

.__proj_list_item ~ .__proj_list_item {
  padding-top: 4px;
  margin-top: 4px;
  border-top: 1px dashed var(--grayColor);
}

.__proj_list_item p:last-child {
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}

.__proj_list_item p sup {
  font-size: 9px;
}

.__g2_3_5 {
  -ms-grid-columns: 2fr 3fr 5fr;
      grid-template-columns: 2fr 3fr 5fr;
  gap: 10px;
}

.__prod_more {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

/* Product Style End */
/* Search Page Style */
.search_container {
  height: calc(100vh - 109px);
  padding: 0 16px;
}

.filter_wrap {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  padding: 10px 16px 16px;
  background-color: #fff;
  z-index: 9;
}

.filter_wrap .input, .filter_wrap .select {
  border-radius: 8px !important;
}

.filter_result, .map_wrap {
  padding-top: 135px;
  height: 100vh;
}

.result_wrap {
  padding-bottom: 16px;
}

.map_wrap {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 135px;
  height: calc(100vh - 151px);
  border-radius: 10px;
}

/* Search Page Style End */
/* Detail Style */
.b_head {
  margin-bottom: 20px;
}

.b_head h1 {
  font-size: 34px;
  font-weight: bold;
}

.b_head .__addr {
  color: var(--grayBlueColor);
}

.b_head ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b_head ul li ~ li {
  margin-left: 16px;
}

.b_head .__head_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
}

.d_sub_menu {
  margin-bottom: 20px;
}

.d_sub_menu .sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d_sub_menu .sub_menu div ~ div {
  margin-left: 8px;
}

.d_sub_menu .sub_menu div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 12px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border-radius: 6px;
  cursor: pointer;
}

.d_sub_menu .sub_menu div span:hover {
  background-color: var(--backgroundColor);
}

.box_shadow {
  padding: 16px;
  -webkit-box-shadow: 0 2px 7px rgba(100, 100, 100, 0.2);
          box-shadow: 0 2px 7px rgba(100, 100, 100, 0.2);
  border-radius: 16px;
}

.d_slider {
  position: relative;
  max-width: 838px;
}

.d_slider .__image_box, .d_slider .__image_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 480px;
  width: 100%;
  max-width: 100%;
  margin: 0 !important;
  z-index: 1;
}

.d_slider .__image_box.swiper-slide-active, .d_slider .__image_box_content.swiper-slide-active {
  z-index: 3;
}

.d_slider .__image_box img, .d_slider .__image_box_content img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -o-object-fit: contain;
     object-fit: contain;
}

.big_img > img {
  position: absolute;
  content: '';
  height: 100% !important;
  width: 100% !important;
  max-height: initial !important;
  max-width: initial !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: .7;
  inset: 0;
}

.g_d_s {
  -ms-grid-columns: 1fr 390px;
      grid-template-columns: 1fr 390px;
}

.g_d_c {
  -ms-grid-columns: 1fr 335px;
      grid-template-columns: 1fr 335px;
}

.d_list {
  padding: 20px 10px 10px;
}

.d_list .__side_sub_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 8px 0 0;
}

.d_list .develop_logo {
  height: 48px;
}

.d_list > div ~ div {
  margin-top: 16px;
}

.d_list > div h3 {
  font-size: 18px;
  line-height: 1.3;
}

.d_list > div h3 span {
  color: #7f8da5;
  font-size: 14px;
  font-weight: 500;
  margin-left: 3px;
}

.d_list > div h4 {
  font-size: 16px;
  font-weight: 500;
}

.d_list > div h5 {
  font-size: 15px;
  font-weight: 500;
}

.d_list > div label {
  font-size: 13px;
  color: #7f8da5;
}

.d_list > div sup {
  position: relative;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  top: -1px;
  margin-left: 1px;
}

.g1_30 {
  -ms-grid-columns: 1fr 30px;
      grid-template-columns: 1fr 30px;
}

.g40_1 {
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
}

.g50_1 {
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
}

.g1_40 {
  -ms-grid-columns: 1fr 40px;
      grid-template-columns: 1fr 40px;
}

.swiper-button-next, .swiper-button-prev {
  background-size: 25% !important;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.agent_box {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--lightGrayColor);
  border-radius: 8px;
}

.agent_box h5 {
  font-weight: bold !important;
}

.agent_box a {
  color: var(--primaryColor);
  font-size: 13px;
}

.agent_box a:hover {
  text-decoration: underline;
}

.agent_box .agent_phone {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: var(--lightGrayColor);
  border-radius: 8px;
  cursor: pointer;
}

.agent_box .agent_phone span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  width: 24px;
  background-image: url("../images/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.agent_box .agent_phone i {
  position: absolute;
  content: '';
  top: -32px;
  left: -10000px;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity .3s ease, top .35s ease;
  transition: opacity .3s ease, top .35s ease;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
}

.agent_box .agent_phone:hover i {
  left: 50%;
  visibility: visible;
  opacity: 1;
}

.d_p_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  overflow: hidden;
}

.d_p_img img {
  width: 100%;
}

.gray_bg {
  background-color: #f1f3f4;
}

.schedule_box {
  margin-top: 14px;
}

.schedule_box h6 {
  color: #7f8da5;
  font-size: 14px;
  margin-bottom: 10px;
}

.schedule_box .schedule_item {
  text-align: center;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--lightGrayColor);
  border-radius: 8px;
  cursor: pointer;
}

.schedule_box .schedule_item.active {
  background-color: var(--backgroundColor);
  border-color: var(--grayColorHover);
}

.schedule_box .schedule_item.active p {
  color: var(--baseColor);
}

.schedule_box .schedule_item.active h4 {
  color: var(--primaryColor);
}

.schedule_box .schedule_item p {
  color: #7f8da5;
  font-size: 12px;
}

.schedule_box .schedule_item h4 {
  color: #5c677a;
  font-size: 17px;
}

.main_content {
  margin-top: 48px;
}

.d_main_wrap .dm_box ~ .dm_box {
  margin-top: 48px;
}

.d_main_wrap h2 {
  font-size: 22px;
  margin: 40px 0 24px;
}

.d_main_wrap p {
  color: var(--secondColor);
  font-size: 15px;
  line-height: 1.8;
  margin-top: 20px;
}

.d_main_wrap .dm_content ul {
  list-style: inherit !important;
}

.d_main_wrap .dm_content ul, .d_main_wrap .dm_content ol {
  margin: 20px 0 !important;
  padding-left: 24px !important;
}

.d_main_wrap .dm_content ul li, .d_main_wrap .dm_content ol li {
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  margin-left: 20px;
}

.d_main_wrap .dm_content ul li ~ li, .d_main_wrap .dm_content ol li ~ li {
  margin-top: 10px;
}

.d_main_wrap .dm_content ul li::marker, .d_main_wrap .dm_content ol li::marker {
  color: var(--baseColor);
  margin-left: -10px !important;
}

.d_main_wrap .input, .d_main_wrap .select {
  border-radius: 8px !important;
}

.description_video {
  margin: 40px 0;
}

.dm_sub_title {
  margin-bottom: 16px;
}

.dm_sub_title ~ .dm_sub_title {
  margin-top: 40px;
}

.dm_sub_title h3 {
  font-size: 22px;
}

.dm_sub_title p {
  color: var(--grayBlueColor);
  margin: 0 !important;
}

.room_layout {
  margin-top: 10px;
}

.room_layout .layout_box {
  margin-top: 10px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border: 1px solid var(--lightGrayColor);
  border-radius: 8px;
  overflow: hidden;
}

.room_layout .layout_box .layout_line {
  padding: 8px;
  padding-right: 12px;
  min-height: 40px;
  transition: all .15s linear;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -ms-transition: all .15s linear;
  -o-transition: all .15s linear;
}

.room_layout .layout_box:hover {
  border-color: var(--grayColorHover);
}

.room_layout .layout_box .loyout_icon {
  height: 36px;
  width: 36px;
  background-color: var(--lightGrayColor);
  border-radius: 4px;
}

.room_layout .layout_box h3 {
  color: var(--greenColor);
  font-weight: 600 !important;
}

.room_layout .layout_box [class*="room"] {
  font-size: 15px;
  font-weight: 500;
}

.room_layout .layout_box [class*="room"] span {
  color: var(--grayBlueColor);
  font-size: 13px;
  margin-left: 2px;
}

.room_layout .layout_box [class*="room"] sup {
  font-size: 10px;
}

.room_layout .layout_box .count {
  color: var(--greenColor);
}

.room_layout .layout_box .__arrow {
  height: 30px;
  width: 30px;
  background-color: var(--backgroundColor);
  border-radius: 8px;
}

.room_layout .layout_box .__arrow span {
  height: 16px;
  width: 16px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.room_layout .layout_box .layout_rooms {
  display: none;
  position: relative;
  -webkit-transition: display .05s linear, opacity .15s ease-in, visibility .15s ease-in;
  transition: display .05s linear, opacity .15s ease-in, visibility .15s ease-in;
  visibility: hidden;
  opacity: 0;
}

.room_layout .layout_box.open {
  border-color: var(--greenColor);
}

.room_layout .layout_box.open .layout_line {
  background-color: var(--greenColor);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: transparent;
}

.room_layout .layout_box.open .layout_line [class*="room"] {
  color: #fff;
}

.room_layout .layout_box.open .layout_line [class*="room"] span {
  color: rgba(255, 255, 255, 0.6);
}

.room_layout .layout_box.open .layout_line .loyout_icon {
  background-color: #fff;
}

.room_layout .layout_box.open .layout_line .__arrow {
  background-color: rgba(255, 255, 255, 0.2);
}

.room_layout .layout_box.open .layout_line .__arrow span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.room_layout .layout_box.open .layout_line .__arrow span svg path {
  fill: #fff !important;
}

.room_layout .layout_box.open .layout_rooms {
  display: block;
  visibility: visible;
  opacity: 1;
}

.room_layout .layout_box .layout_col {
  padding: 16px;
  -ms-grid-columns: 160px 1fr;
      grid-template-columns: 160px 1fr;
}

.room_layout .layout_box .layout_col ~ .layout_col {
  border-top: 1px dashed var(--grayColorHover);
}

.room_layout .layout_box .layout_col .room_img {
  height: 160px;
  width: 160px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.room_layout .layout_box .layout_col .room_img .room_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  width: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

.room_layout .layout_box .layout_col .room_img .room_plan img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.room_layout .layout_box .layout_col .d_list {
  padding: 0;
}

.room_layout .layout_box .layout_col .d_list > div ~ div {
  margin: 0;
}

.d_sketch {
  margin: 48px 0;
}

.d_sketch .sketch_plan_main {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.d_sketch .sketch_plan_main::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.d_sketch .sketch_plan_main .__sketch_polygon {
  position: absolute;
  z-index: 3;
}

.d_sketch .sketch_plan_main .__sketch_polygon path {
  fill: rgba(255, 255, 255, 0.1) !important;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  cursor: pointer;
}

.d_sketch .sketch_plan_main .__sketch_polygon path:hover {
  fill: rgba(255, 255, 255, 0.3) !important;
}

.d_sketch .sketch_plan_main .sketch_polygon_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 4;
  height: 20px;
  width: 20px;
  background-color: var(--primaryColor);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
}

.d_sketch .sketch_plan_main .sketch_polygon_center::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background-color: #fff;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  border-radius: 50%;
}

.d_sketch .sketch_plan_main .sketch_polygon_center:hover::before {
  height: 14px;
  width: 14px;
}

.d_sketch .sketch_plan_main .sketch_polygon_center:hover + .__sketch_polygon path:hover {
  fill: rgba(255, 255, 255, 0.2);
}

.d_sketch .sketch_plan_main img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.fix_view {
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  padding: 20px;
}

.fix_view .d_list {
  padding: 0;
}

.slider_thumbs {
  left: 16px;
  bottom: 16px;
  z-index: 3;
}

.slider_thumbs .thumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_thumbs .thumbs > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  width: 64px !important;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.slider_thumbs .thumbs > div.active::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 8px;
  z-index: 3;
}

.slider_thumbs .thumbs > div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider_thumbs .thumbs > div ~ div {
  margin-left: 8px;
}

/* Detail Style End */
/* Responsive Style */
@media (max-width: 1282px) {
  .g_d_s {
    -ms-grid-columns: calc(100vw - 482px) 390px;
        grid-template-columns: calc(100vw - 482px) 390px;
  }
  .full_container {
    max-width: 100%;
    padding: 0 20px;
  }
  .d_slider {
    max-width: calc(100vw - 390px);
  }
  .d_slider .__image_box img, .d_slider .d_slider .__image_box_content img {
    height: 100%;
    max-width: initial;
  }
}

@media (max-width: 1264px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 1081px) {
  .container, .full_container {
    padding: 0 16px;
  }
}

/* Responsive Style End */
/*# sourceMappingURL=style.css.map */